.avatar {
  box-sizing: border-box;
}

.avatarImage {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.avatarImageOutline {
  border: 1px solid var(--color-cambio-gray-100);
}

.xs {
  width: 24px;
  height: 24px;
}

.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 48px;
  height: 48px;
}

.lg {
  width: 64px;
  height: 64px;
}

.xl {
  width: 64px;
  height: 64px;
}
