.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #fff;
}

.sm {
  width: 22px;
  height: 22px;
}

.md {
  width: 38px;
  height: 38px;
}

.lg {
  width: 70px;
  height: 70px;
}

.xl {
  width: 126px;
  height: 126px;
}
