:root {
  --syntax-avatar-border-width: 1px;
}

.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: var(--syntax-avatar-border-width) solid #fff;
}

.sm {
  width: calc(24px - var(--syntax-avatar-border-width) * 2);
  height: calc(24px - var(--syntax-avatar-border-width) * 2);
}

.md {
  width: calc(40px - var(--syntax-avatar-border-width) * 2);
  height: calc(40px - var(--syntax-avatar-border-width) * 2);
}

.lg {
  width: calc(72px - var(--syntax-avatar-border-width) * 2);
  height: calc(72px - var(--syntax-avatar-border-width) * 2);
}

.xl {
  width: calc(128px - var(--syntax-avatar-border-width) * 2);
  height: calc(128px - var(--syntax-avatar-border-width) * 2);
}
