.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonGap {
  gap: 4px;
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(190, 180, 171, 0.3) 0%,
    rgba(190, 180, 171, 0.3) 100%
  );
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:focus-visible {
  background-image: linear-gradient(
    to bottom,
    rgba(190, 180, 171, 0.3) 0%,
    rgba(190, 180, 171, 0.3) 100%
  );
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}

.button:active {
  background-image: linear-gradient(
    to bottom,
    rgba(190, 180, 171, 0.3) 0%,
    rgba(190, 180, 171, 0.3) 100%
  );
  transform: scale(0.97);
  transition-duration: 0.2s;
}

.disabled {
  filter: opacity(50%);
  background-image: none;
  transform: none;
  cursor: auto;
}

.disabled:hover {
  filter: opacity(50%);
  background-image: none;
  transform: none;
  cursor: auto;
}

.disabledPrimary {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}

.sm {
  min-width: 52px;
  height: 32px;
  padding: 0 16px;
  border-radius: 100px;
}

.md {
  min-width: 78px;
  height: 48px;
  padding: 0 24px;
  border-radius: 100px;
}

.lg {
  min-width: 104px;
  height: 64px;
  padding: 0 32px;
  border-radius: 100px;
}

.icon {
  color: inherit;
}

.smIcon {
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  width: 16px !important;
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  height: 16px !important;
}

.mdIcon {
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  width: 20px !important;
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  height: 20px !important;
}

.lgIcon {
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  width: 24px !important;
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  height: 24px !important;
}

@keyframes syntaxButtonLoadingRotate {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: syntaxButtonLoadingRotate 1.4s linear infinite;
}

.loadingCircle {
  stroke: currentcolor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
  transform-origin: center;
}
