.radioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.focusedRadioButton {
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}

.smBase {
  height: 16px;
  gap: 4px;
}

.mdBase {
  height: 32px;
  gap: 16px;
}

.radioStyleOverride {
  opacity: 0;
  margin: 0;
}

.smOverride {
  width: 16px;
  height: 16px;
}

.mdOverride {
  width: 24px;
  height: 24px;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.sm {
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

.md {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.errorOuterBackgroundColor {
  background-color: var(--color-base-destructive-700);
}

.outerBackgroundColor {
  background-color: var(--color-base-primary-700);
}

.background {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid;
}

.errorBorderColor {
  border-color: var(--color-base-destructive-700);
}

.borderColor {
  border-color: var(--color-base-primary-700);
}

.circle {
  border-radius: 50%;
}

.smInner {
  background-color: var(--color-base-white);
  height: 6px;
  width: 6px;
}

.mdInner {
  background-color: var(--color-base-white);
  height: 10px;
  width: 10px;
}
