.radioBaseContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  position: relative;
}

.radioBaseContainer:focus-within {
  outline: 2px solid var(--color-base-primary-700);
}

.stateDisabled {
  cursor: auto;
  opacity: 0.3;
}

.stateEnabled {
  cursor: pointer;
}

.smBase {
  height: 16px;
}

.mdBase {
  height: 32px;
}

.radioStyleOverride {
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.smOverride {
  width: 16px;
  height: 16px;
}

.mdOverride {
  width: 24px;
  height: 24px;
}

.background {
  position: absolute;
  box-sizing: border-box;
}

.sm {
  height: 16px;
  width: 16px;
  border-radius: 8px;
}

.md {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.neutralBorder {
  border: 2px solid;
}

.smCheckedBorder {
  border: 5px solid;
}

.mdCheckedBorder {
  border: 8px solid;
}

.errorBorderColor {
  border-color: var(--color-base-destructive-700);
}

.borderColor {
  border-color: var(--color-base-primary-700);
}
