.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.opacityOverlay {
  opacity: 0.5;
}

.selectWrapper {
  display: flex;
  position: relative;
}

.selectBox {
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  justify-content: space-between;
  margin: 0;
  outline: 0;
  width: 100%;
}

.selectBoxCambio {
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline-start: 12px;
  padding-inline-end: 36px;
}

.selectMouseFocusStyling {
  border: 1px solid var(--color-base-primary-700);
  box-shadow: 0 0 0 1px var(--color-base-primary-700);
}

.unselected {
  color: var(--color-base-gray-700);
}

.selected {
  color: var(--color-base-gray-800);
}

.darkBackground {
  background: var(--color-cambio-gray-900);
  border: 1px solid var(--color-cambio-white-40);
  color: var(--color-cambio-white-70);
}

.darkBackground:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
  color: var(--color-cambio-white-100);
}

.arrowIcon {
  display: flex;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  bottom: 0;
  padding-inline-end: 8px;
  pointer-events: none;
}

.selectBox:disabled {
  cursor: auto;
}

.selectErrorCambio {
  color: var(--color-cambio-destructive-900);
  border-color: var(--color-cambio-destructive-700);
}

/* Color */
.selectColorwhite {
  background-color: var(--color-base-white);
  border: 1px solid var(--color-cambio-gray-370);
  color: var(--color-base-gray-700);
}

.transparentInputError {
  color: var(--color-cambio-destructive-370);
  border: 1px solid var(--color-cambio-destructive-300);
}

.transparenInputError::placeholder {
  color: var(--color-cambio-destructive-370);
}
