.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.opacityOverlay {
  opacity: 0.3;
}

.outerTextContainer {
  padding-inline-start: 4px;
}

.selectWrapper {
  display: flex;
  position: relative;
}

.selectBox {
  width: 100%;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border: 1px solid #767676;
  justify-content: space-between;
  cursor: pointer;
  appearance: none;
  composes: typography from "../Typography/Typography.module.css";
  color: var(--color-base-gray-800);
}

.selectBox:focus-visible {
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}

.gray700Font {
  color: var(--color-base-gray-700);
}

.arrowIcon {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-inline-end: 8px;
  pointer-events: none;
}

.selectBox:disabled {
  cursor: auto;
}

.smBox {
  height: 32px;
  border-radius: 12px;
  padding: 0 10px;
}

.mdBox {
  height: 40px;
  border-radius: 12px;
}

.lgBox {
  height: 48px;
  border-radius: 16px;
}

.smFont {
  font-size: 12px;
}

.mdFont {
  font-size: 14px;
}

.lgFont {
  font-size: 16px;
}

.selectError {
  color: var(--color-base-destructive-700);
  border-color: var(--color-base-destructive-700);
  background-color: var(--color-base-destructive-100);
}
