.selectContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.opacityOverlay {
  opacity: 0.5;
}

.selectWrapper {
  display: flex;
  position: relative;
}

.selectBox {
  align-items: center;
  appearance: none;
  background-color: var(--color-base-white);
  border: 1px solid var(--color-base-gray-700);
  cursor: pointer;
  display: flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-weight: 500;
  justify-content: space-between;
  margin: 0;
  outline: 0;
  width: 100%;
}

.selectBoxCambio {
  border: 1px solid var(--color-cambio-gray-370);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  height: 48px;
  padding: 12px 36px 12px 12px;
}

.selectMouseFocusStyling {
  border: 1px solid var(--color-base-primary-700);
  box-shadow: 0 0 0 1px var(--color-base-primary-700);
}

.unselected {
  color: var(--color-base-gray-700);
}

.selected {
  color: var(--color-base-gray-800);
}

.arrowIcon {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-inline-end: 8px;
  pointer-events: none;
}

.selectBox:disabled {
  cursor: auto;
}

.selectErrorCambio {
  color: var(--color-cambio-destructive-900);
  border-color: var(--color-cambio-destructive-700);
}
