.buttonGroup {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.smallGap {
  gap: 8px;
}

.mediumGap {
  gap: 12px;
}

.largeGap {
  gap: 16px;
}

.smallGapCambio {
  gap: 4px;
}

.mediumGapCambio {
  gap: 8px;
}

.largeGapCambio {
  gap: 12px;
}
