.tooltip {
  display: flex;
  padding: 10px 0;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tooltiptext {
  visibility: hidden;
  background-color: #191919;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
