.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  position: relative;
}

.inputOverlay {
  opacity: 0;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cambioCheckbox {
  border-radius: 4px;
}

.disabled {
  opacity: 0.5;
}

.cursorDisabled {
  cursor: auto;
}

.cursorEnabled {
  cursor: pointer;
}

.uncheckedBox {
  border: 2px solid;
}

.uncheckedBorder {
  border-color: var(--color-base-primary-700);
}

.uncheckedErrorBorder {
  border-color: var(--color-base-destructive-700);
}

.checkedBox {
  color: #fff;
}

.checkedNonError {
  background: var(--color-base-primary-700);
}

.checkedError {
  background: var(--color-base-destructive-700);
}

.sm {
  height: 16px;
  width: 16px;
}

.md {
  height: 24px;
  width: 24px;
}

.smBorderRadius {
  border-radius: 6px;
}

.mdBorderRadius {
  border-radius: 8px;
}
