.typography {
  line-height: initial;
  margin: 0;
}

@font-face {
  font-family: "GT Super";
  font-style: normal;
  font-weight: 510;
  src: local("GT-Super-Text-Medium"),
    url("https://static.cambly.com/fonts/gt-super-text-medium-final.woff2");
}

@font-face {
  font-family: "GT Super";
  font-style: normal;
  font-weight: 700;
  src: local("GT-Super-Text-Bold"),
    url("https://static.cambly.com/fonts/gt-super-text-bold-final.woff2");
}

.sansSerif {
  font-family: var(--syntax-font-sans-serif);
  margin: 0;
}

.serif {
  font-family: var(
    --syntax-font-sans-serif
  ); /* Intentional, the default is still to use sans-serif, we only use serif for certain languages */
}

/* GT Super only supports certain languages: https://www.grillitype.com/typeface/gt-super */

/* List of languages we use on Cambly and their support for GT Super

* English: ✅
* Arabic: ❌
* Azerbaijani: ✅
* German: ✅
* Spanish: ✅
* French: ✅
* Italian: ✅
* Japanese: ❌
* Korean: ❌
* Polish: ✅
* Portuguese: ✅
* Russian: ❌
* Thai: ❌
* Turkish: ✅
* Vietnamese: ❌
* Simplified Chinese: ❌
* Traditional Chinese: ❌
*/

/* stylelint-disable-next-line selector-max-compound-selectors -- only render serif font for certain languages */
:lang(en) .serif,
:lang(az) .serif,
:lang(fr) .serif,
:lang(de) .serif,
:lang(es) .serif,
:lang(it) .serif,
:lang(pl) .serif,
:lang(pt) .serif,
:lang(tr) .serif {
  font-family: "GT Super", var(--syntax-font-sans-serif);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
  line-height: 1.15em;
}

/* Sizes are responsive */
.size0 {
  font-size: 12px;
}

.size100 {
  font-size: 13px;
}

.size200 {
  font-size: 16px;
}

.size300 {
  font-size: 19px;
}

.size400 {
  font-size: 25px;
}

.size500 {
  font-size: 32px;
}

.size700 {
  font-size: 38px;
}

.size800 {
  font-size: 46px;
}

.size900 {
  font-size: 55px;
}

.size1100 {
  font-size: 83px;
}

/* Only add media queries for sizes that need to change */
@media (min-width: 480px) {
  .size300 {
    font-size: 20px;
  }

  .size700 {
    font-size: 44px;
  }

  .size800 {
    font-size: 63px;
  }

  .size900 {
    font-size: 76px;
  }

  .size1100 {
    font-size: 119px;
  }
}

/* Align */
.center {
  text-align: center;
}

.forceLeft {
  text-align: left;
}

.forceRight {
  text-align: right;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

/* Weight */

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 510;
}

.semiBold {
  font-weight: 590;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.lineClamp {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}

/* Line Height */
.p100 {
  line-height: 150%;
}

.p200 {
  line-height: 150%;
}

.p300 {
  line-height: 140%;
}

.p400 {
  line-height: 130%;
}

.p500 {
  line-height: 115%;
}

/* White Space */
.inherit {
  white-space: inherit;
}

.normal {
  white-space: normal;
}

.nowrap {
  white-space: nowrap;
}

.preLine {
  white-space: pre-line;
}
