/* Margin bottom */
.marginBottom-12 {
  margin-bottom: -48px;
}

.marginBottom-11 {
  margin-bottom: -44px;
}

.marginBottom-10 {
  margin-bottom: -40px;
}

.marginBottom-9 {
  margin-bottom: -36px;
}

.marginBottom-8 {
  margin-bottom: -32px;
}

.marginBottom-7 {
  margin-bottom: -28px;
}

.marginBottom-6 {
  margin-bottom: -24px;
}

.marginBottom-5 {
  margin-bottom: -20px;
}

.marginBottom-4 {
  margin-bottom: -16px;
}

.marginBottom-3 {
  margin-bottom: -12px;
}

.marginBottom-2 {
  margin-bottom: -8px;
}

.marginBottom-1 {
  margin-bottom: -4px;
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom1 {
  margin-bottom: 4px;
}

.marginBottom2 {
  margin-bottom: 8px;
}

.marginBottom3 {
  margin-bottom: 12px;
}

.marginBottom4 {
  margin-bottom: 16px;
}

.marginBottom5 {
  margin-bottom: 20px;
}

.marginBottom6 {
  margin-bottom: 24px;
}

.marginBottom7 {
  margin-bottom: 28px;
}

.marginBottom8 {
  margin-bottom: 32px;
}

.marginBottom9 {
  margin-bottom: 36px;
}

.marginBottom10 {
  margin-bottom: 40px;
}

.marginBottom11 {
  margin-bottom: 44px;
}

.marginBottom12 {
  margin-bottom: 48px;
}

.marginBottomauto {
  margin-bottom: auto;
}

/* Margin end */
.marginEnd-12 {
  margin-inline-end: -48px;
}

.marginEnd-11 {
  margin-inline-end: -44px;
}

.marginEnd-10 {
  margin-inline-end: -40px;
}

.marginEnd-9 {
  margin-inline-end: -36px;
}

.marginEnd-8 {
  margin-inline-end: -32px;
}

.marginEnd-7 {
  margin-inline-end: -28px;
}

.marginEnd-6 {
  margin-inline-end: -24px;
}

.marginEnd-5 {
  margin-inline-end: -20px;
}

.marginEnd-4 {
  margin-inline-end: -16px;
}

.marginEnd-3 {
  margin-inline-end: -12px;
}

.marginEnd-2 {
  margin-inline-end: -8px;
}

.marginEnd-1 {
  margin-inline-end: -4px;
}

.marginEnd0 {
  margin-inline-end: 0;
}

.marginEnd1 {
  margin-inline-end: 4px;
}

.marginEnd2 {
  margin-inline-end: 8px;
}

.marginEnd3 {
  margin-inline-end: 12px;
}

.marginEnd4 {
  margin-inline-end: 16px;
}

.marginEnd5 {
  margin-inline-end: 20px;
}

.marginEnd6 {
  margin-inline-end: 24px;
}

.marginEnd7 {
  margin-inline-end: 28px;
}

.marginEnd8 {
  margin-inline-end: 32px;
}

.marginEnd9 {
  margin-inline-end: 36px;
}

.marginEnd10 {
  margin-inline-end: 40px;
}

.marginEnd11 {
  margin-inline-end: 44px;
}

.marginEnd12 {
  margin-inline-end: 48px;
}

.marginEndauto {
  margin-inline-end: auto;
}

/* Margin start */
.marginStart-12 {
  margin-inline-start: -48px;
}

.marginStart-11 {
  margin-inline-start: -44px;
}

.marginStart-10 {
  margin-inline-start: -40px;
}

.marginStart-9 {
  margin-inline-start: -36px;
}

.marginStart-8 {
  margin-inline-start: -32px;
}

.marginStart-7 {
  margin-inline-start: -28px;
}

.marginStart-6 {
  margin-inline-start: -24px;
}

.marginStart-5 {
  margin-inline-start: -20px;
}

.marginStart-4 {
  margin-inline-start: -16px;
}

.marginStart-3 {
  margin-inline-start: -12px;
}

.marginStart-2 {
  margin-inline-start: -8px;
}

.marginStart-1 {
  margin-inline-start: -4px;
}

.marginStart0 {
  margin-inline-start: 0;
}

.marginStart1 {
  margin-inline-start: 4px;
}

.marginStart2 {
  margin-inline-start: 8px;
}

.marginStart3 {
  margin-inline-start: 12px;
}

.marginStart4 {
  margin-inline-start: 16px;
}

.marginStart5 {
  margin-inline-start: 20px;
}

.marginStart6 {
  margin-inline-start: 24px;
}

.marginStart7 {
  margin-inline-start: 28px;
}

.marginStart8 {
  margin-inline-start: 32px;
}

.marginStart9 {
  margin-inline-start: 36px;
}

.marginStart10 {
  margin-inline-start: 40px;
}

.marginStart11 {
  margin-inline-start: 44px;
}

.marginStart12 {
  margin-inline-start: 48px;
}

.marginStartauto {
  margin-inline-start: auto;
}

/* Margin top */
.marginTop-12 {
  margin-top: -48px;
}

.marginTop-11 {
  margin-top: -44px;
}

.marginTop-10 {
  margin-top: -40px;
}

.marginTop-9 {
  margin-top: -36px;
}

.marginTop-8 {
  margin-top: -32px;
}

.marginTop-7 {
  margin-top: -28px;
}

.marginTop-6 {
  margin-top: -24px;
}

.marginTop-5 {
  margin-top: -20px;
}

.marginTop-4 {
  margin-top: -16px;
}

.marginTop-3 {
  margin-top: -12px;
}

.marginTop-2 {
  margin-top: -8px;
}

.marginTop-1 {
  margin-top: -4px;
}

.marginTop0 {
  margin-top: 0;
}

.marginTop1 {
  margin-top: 4px;
}

.marginTop2 {
  margin-top: 8px;
}

.marginTop3 {
  margin-top: 12px;
}

.marginTop4 {
  margin-top: 16px;
}

.marginTop5 {
  margin-top: 20px;
}

.marginTop6 {
  margin-top: 24px;
}

.marginTop7 {
  margin-top: 28px;
}

.marginTop8 {
  margin-top: 32px;
}

.marginTop9 {
  margin-top: 36px;
}

.marginTop10 {
  margin-top: 40px;
}

.marginTop11 {
  margin-top: 44px;
}

.marginTop12 {
  margin-top: 48px;
}

.marginTopauto {
  margin-top: auto;
}

/* Margin (small and up) */
@media (min-width: 480px) {
  .marginBottom-12Small {
    margin-bottom: -48px;
  }

  .marginBottom-11Small {
    margin-bottom: -44px;
  }

  .marginBottom-10Small {
    margin-bottom: -40px;
  }

  .marginBottom-9Small {
    margin-bottom: -36px;
  }

  .marginBottom-8Small {
    margin-bottom: -32px;
  }

  .marginBottom-7Small {
    margin-bottom: -28px;
  }

  .marginBottom-6Small {
    margin-bottom: -24px;
  }

  .marginBottom-5Small {
    margin-bottom: -20px;
  }

  .marginBottom-4Small {
    margin-bottom: -16px;
  }

  .marginBottom-3Small {
    margin-bottom: -12px;
  }

  .marginBottom-2Small {
    margin-bottom: -8px;
  }

  .marginBottom-1Small {
    margin-bottom: -4px;
  }

  .marginBottom0Small {
    margin-bottom: 0;
  }

  .marginBottom1Small {
    margin-bottom: 4px;
  }

  .marginBottom2Small {
    margin-bottom: 8px;
  }

  .marginBottom3Small {
    margin-bottom: 12px;
  }

  .marginBottom4Small {
    margin-bottom: 16px;
  }

  .marginBottom5Small {
    margin-bottom: 20px;
  }

  .marginBottom6Small {
    margin-bottom: 24px;
  }

  .marginBottom7Small {
    margin-bottom: 28px;
  }

  .marginBottom8Small {
    margin-bottom: 32px;
  }

  .marginBottom9Small {
    margin-bottom: 36px;
  }

  .marginBottom10Small {
    margin-bottom: 40px;
  }

  .marginBottom11Small {
    margin-bottom: 44px;
  }

  .marginBottom12Small {
    margin-bottom: 48px;
  }

  .marginBottomautoSmall {
    margin-bottom: auto;
  }

  .marginEnd-12Small {
    margin-inline-end: -48px;
  }

  .marginEnd-11Small {
    margin-inline-end: -44px;
  }

  .marginEnd-10Small {
    margin-inline-end: -40px;
  }

  .marginEnd-9Small {
    margin-inline-end: -36px;
  }

  .marginEnd-8Small {
    margin-inline-end: -32px;
  }

  .marginEnd-7Small {
    margin-inline-end: -28px;
  }

  .marginEnd-6Small {
    margin-inline-end: -24px;
  }

  .marginEnd-5Small {
    margin-inline-end: -20px;
  }

  .marginEnd-4Small {
    margin-inline-end: -16px;
  }

  .marginEnd-3Small {
    margin-inline-end: -12px;
  }

  .marginEnd-2Small {
    margin-inline-end: -8px;
  }

  .marginEnd-1Small {
    margin-inline-end: -4px;
  }

  .marginEnd0Small {
    margin-inline-end: 0;
  }

  .marginEnd1Small {
    margin-inline-end: 4px;
  }

  .marginEnd2Small {
    margin-inline-end: 8px;
  }

  .marginEnd3Small {
    margin-inline-end: 12px;
  }

  .marginEnd4Small {
    margin-inline-end: 16px;
  }

  .marginEnd5Small {
    margin-inline-end: 20px;
  }

  .marginEnd6Small {
    margin-inline-end: 24px;
  }

  .marginEnd7Small {
    margin-inline-end: 28px;
  }

  .marginEnd8Small {
    margin-inline-end: 32px;
  }

  .marginEnd9Small {
    margin-inline-end: 36px;
  }

  .marginEnd10Small {
    margin-inline-end: 40px;
  }

  .marginEnd11Small {
    margin-inline-end: 44px;
  }

  .marginEnd12Small {
    margin-inline-end: 48px;
  }

  .marginEndautoSmall {
    margin-inline-end: auto;
  }

  .marginStart-12Small {
    margin-inline-start: -48px;
  }

  .marginStart-11Small {
    margin-inline-start: -44px;
  }

  .marginStart-10Small {
    margin-inline-start: -40px;
  }

  .marginStart-9Small {
    margin-inline-start: -36px;
  }

  .marginStart-8Small {
    margin-inline-start: -32px;
  }

  .marginStart-7Small {
    margin-inline-start: -28px;
  }

  .marginStart-6Small {
    margin-inline-start: -24px;
  }

  .marginStart-5Small {
    margin-inline-start: -20px;
  }

  .marginStart-4Small {
    margin-inline-start: -16px;
  }

  .marginStart-3Small {
    margin-inline-start: -12px;
  }

  .marginStart-2Small {
    margin-inline-start: -8px;
  }

  .marginStart-1Small {
    margin-inline-start: -4px;
  }

  .marginStart0Small {
    margin-inline-start: 0;
  }

  .marginStart1Small {
    margin-inline-start: 4px;
  }

  .marginStart2Small {
    margin-inline-start: 8px;
  }

  .marginStart3Small {
    margin-inline-start: 12px;
  }

  .marginStart4Small {
    margin-inline-start: 16px;
  }

  .marginStart5Small {
    margin-inline-start: 20px;
  }

  .marginStart6Small {
    margin-inline-start: 24px;
  }

  .marginStart7Small {
    margin-inline-start: 28px;
  }

  .marginStart8Small {
    margin-inline-start: 32px;
  }

  .marginStart9Small {
    margin-inline-start: 36px;
  }

  .marginStart10Small {
    margin-inline-start: 40px;
  }

  .marginStart11Small {
    margin-inline-start: 44px;
  }

  .marginStart12Small {
    margin-inline-start: 48px;
  }

  .marginStartautoSmall {
    margin-inline-start: auto;
  }

  .marginTop-12Small {
    margin-top: -48px;
  }

  .marginTop-11Small {
    margin-top: -44px;
  }

  .marginTop-10Small {
    margin-top: -40px;
  }

  .marginTop-9Small {
    margin-top: -36px;
  }

  .marginTop-8Small {
    margin-top: -32px;
  }

  .marginTop-7Small {
    margin-top: -28px;
  }

  .marginTop-6Small {
    margin-top: -24px;
  }

  .marginTop-5Small {
    margin-top: -20px;
  }

  .marginTop-4Small {
    margin-top: -16px;
  }

  .marginTop-3Small {
    margin-top: -12px;
  }

  .marginTop-2Small {
    margin-top: -8px;
  }

  .marginTop-1Small {
    margin-top: -4px;
  }

  .marginTop0Small {
    margin-top: 0;
  }

  .marginTop1Small {
    margin-top: 4px;
  }

  .marginTop2Small {
    margin-top: 8px;
  }

  .marginTop3Small {
    margin-top: 12px;
  }

  .marginTop4Small {
    margin-top: 16px;
  }

  .marginTop5Small {
    margin-top: 20px;
  }

  .marginTop6Small {
    margin-top: 24px;
  }

  .marginTop7Small {
    margin-top: 28px;
  }

  .marginTop8Small {
    margin-top: 32px;
  }

  .marginTop9Small {
    margin-top: 36px;
  }

  .marginTop10Small {
    margin-top: 40px;
  }

  .marginTop11Small {
    margin-top: 44px;
  }

  .marginTop12Small {
    margin-top: 48px;
  }

  .marginTopautoSmall {
    margin-top: auto;
  }
}

/* Margin (large and up) */
@media (min-width: 960px) {
  .marginBottom-12Large {
    margin-bottom: -48px;
  }

  .marginBottom-11Large {
    margin-bottom: -44px;
  }

  .marginBottom-10Large {
    margin-bottom: -40px;
  }

  .marginBottom-9Large {
    margin-bottom: -36px;
  }

  .marginBottom-8Large {
    margin-bottom: -32px;
  }

  .marginBottom-7Large {
    margin-bottom: -28px;
  }

  .marginBottom-6Large {
    margin-bottom: -24px;
  }

  .marginBottom-5Large {
    margin-bottom: -20px;
  }

  .marginBottom-4Large {
    margin-bottom: -16px;
  }

  .marginBottom-3Large {
    margin-bottom: -12px;
  }

  .marginBottom-2Large {
    margin-bottom: -8px;
  }

  .marginBottom-1Large {
    margin-bottom: -4px;
  }

  .marginBottom0Large {
    margin-bottom: 0;
  }

  .marginBottom1Large {
    margin-bottom: 4px;
  }

  .marginBottom2Large {
    margin-bottom: 8px;
  }

  .marginBottom3Large {
    margin-bottom: 12px;
  }

  .marginBottom4Large {
    margin-bottom: 16px;
  }

  .marginBottom5Large {
    margin-bottom: 20px;
  }

  .marginBottom6Large {
    margin-bottom: 24px;
  }

  .marginBottom7Large {
    margin-bottom: 28px;
  }

  .marginBottom8Large {
    margin-bottom: 32px;
  }

  .marginBottom9Large {
    margin-bottom: 36px;
  }

  .marginBottom10Large {
    margin-bottom: 40px;
  }

  .marginBottom11Large {
    margin-bottom: 44px;
  }

  .marginBottom12Large {
    margin-bottom: 48px;
  }

  .marginBottomautoLarge {
    margin-bottom: auto;
  }

  .marginEnd-12Large {
    margin-inline-end: -48px;
  }

  .marginEnd-11Large {
    margin-inline-end: -44px;
  }

  .marginEnd-10Large {
    margin-inline-end: -40px;
  }

  .marginEnd-9Large {
    margin-inline-end: -36px;
  }

  .marginEnd-8Large {
    margin-inline-end: -32px;
  }

  .marginEnd-7Large {
    margin-inline-end: -28px;
  }

  .marginEnd-6Large {
    margin-inline-end: -24px;
  }

  .marginEnd-5Large {
    margin-inline-end: -20px;
  }

  .marginEnd-4Large {
    margin-inline-end: -16px;
  }

  .marginEnd-3Large {
    margin-inline-end: -12px;
  }

  .marginEnd-2Large {
    margin-inline-end: -8px;
  }

  .marginEnd-1Large {
    margin-inline-end: -4px;
  }

  .marginEnd0Large {
    margin-inline-end: 0;
  }

  .marginEnd1Large {
    margin-inline-end: 4px;
  }

  .marginEnd2Large {
    margin-inline-end: 8px;
  }

  .marginEnd3Large {
    margin-inline-end: 12px;
  }

  .marginEnd4Large {
    margin-inline-end: 16px;
  }

  .marginEnd5Large {
    margin-inline-end: 20px;
  }

  .marginEnd6Large {
    margin-inline-end: 24px;
  }

  .marginEnd7Large {
    margin-inline-end: 28px;
  }

  .marginEnd8Large {
    margin-inline-end: 32px;
  }

  .marginEnd9Large {
    margin-inline-end: 36px;
  }

  .marginEnd10Large {
    margin-inline-end: 40px;
  }

  .marginEnd11Large {
    margin-inline-end: 44px;
  }

  .marginEnd12Large {
    margin-inline-end: 48px;
  }

  .marginEndautoLarge {
    margin-inline-end: auto;
  }

  .marginStart-12Large {
    margin-inline-start: -48px;
  }

  .marginStart-11Large {
    margin-inline-start: -44px;
  }

  .marginStart-10Large {
    margin-inline-start: -40px;
  }

  .marginStart-9Large {
    margin-inline-start: -36px;
  }

  .marginStart-8Large {
    margin-inline-start: -32px;
  }

  .marginStart-7Large {
    margin-inline-start: -28px;
  }

  .marginStart-6Large {
    margin-inline-start: -24px;
  }

  .marginStart-5Large {
    margin-inline-start: -20px;
  }

  .marginStart-4Large {
    margin-inline-start: -16px;
  }

  .marginStart-3Large {
    margin-inline-start: -12px;
  }

  .marginStart-2Large {
    margin-inline-start: -8px;
  }

  .marginStart-1Large {
    margin-inline-start: -4px;
  }

  .marginStart0Large {
    margin-inline-start: 0;
  }

  .marginStart1Large {
    margin-inline-start: 4px;
  }

  .marginStart2Large {
    margin-inline-start: 8px;
  }

  .marginStart3Large {
    margin-inline-start: 12px;
  }

  .marginStart4Large {
    margin-inline-start: 16px;
  }

  .marginStart5Large {
    margin-inline-start: 20px;
  }

  .marginStart6Large {
    margin-inline-start: 24px;
  }

  .marginStart7Large {
    margin-inline-start: 28px;
  }

  .marginStart8Large {
    margin-inline-start: 32px;
  }

  .marginStart9Large {
    margin-inline-start: 36px;
  }

  .marginStart10Large {
    margin-inline-start: 40px;
  }

  .marginStart11Large {
    margin-inline-start: 44px;
  }

  .marginStart12Large {
    margin-inline-start: 48px;
  }

  .marginStartautoLarge {
    margin-inline-start: auto;
  }

  .marginTop-12Large {
    margin-top: -48px;
  }

  .marginTop-11Large {
    margin-top: -44px;
  }

  .marginTop-10Large {
    margin-top: -40px;
  }

  .marginTop-9Large {
    margin-top: -36px;
  }

  .marginTop-8Large {
    margin-top: -32px;
  }

  .marginTop-7Large {
    margin-top: -28px;
  }

  .marginTop-6Large {
    margin-top: -24px;
  }

  .marginTop-5Large {
    margin-top: -20px;
  }

  .marginTop-4Large {
    margin-top: -16px;
  }

  .marginTop-3Large {
    margin-top: -12px;
  }

  .marginTop-2Large {
    margin-top: -8px;
  }

  .marginTop-1Large {
    margin-top: -4px;
  }

  .marginTop0Large {
    margin-top: 0;
  }

  .marginTop1Large {
    margin-top: 4px;
  }

  .marginTop2Large {
    margin-top: 8px;
  }

  .marginTop3Large {
    margin-top: 12px;
  }

  .marginTop4Large {
    margin-top: 16px;
  }

  .marginTop5Large {
    margin-top: 20px;
  }

  .marginTop6Large {
    margin-top: 24px;
  }

  .marginTop7Large {
    margin-top: 28px;
  }

  .marginTop8Large {
    margin-top: 32px;
  }

  .marginTop9Large {
    margin-top: 36px;
  }

  .marginTop10Large {
    margin-top: 40px;
  }

  .marginTop11Large {
    margin-top: 44px;
  }

  .marginTop12Large {
    margin-top: 48px;
  }

  .marginTopautoLarge {
    margin-top: auto;
  }
}
