/* Margin bottom */
.marginBottom-12 {
  margin-bottom: -48px;
}

.marginBottom-11 {
  margin-bottom: -44px;
}

.marginBottom-10 {
  margin-bottom: -40px;
}

.marginBottom-9 {
  margin-bottom: -36px;
}

.marginBottom-8 {
  margin-bottom: -32px;
}

.marginBottom-7 {
  margin-bottom: -28px;
}

.marginBottom-6 {
  margin-bottom: -24px;
}

.marginBottom-5 {
  margin-bottom: -20px;
}

.marginBottom-4 {
  margin-bottom: -16px;
}

.marginBottom-3 {
  margin-bottom: -12px;
}

.marginBottom-2 {
  margin-bottom: -8px;
}

.marginBottom-1 {
  margin-bottom: -4px;
}

.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom1 {
  margin-bottom: 4px;
}

.marginBottom2 {
  margin-bottom: 8px;
}

.marginBottom3 {
  margin-bottom: 12px;
}

.marginBottom4 {
  margin-bottom: 16px;
}

.marginBottom5 {
  margin-bottom: 20px;
}

.marginBottom6 {
  margin-bottom: 24px;
}

.marginBottom7 {
  margin-bottom: 28px;
}

.marginBottom8 {
  margin-bottom: 32px;
}

.marginBottom9 {
  margin-bottom: 36px;
}

.marginBottom10 {
  margin-bottom: 40px;
}

.marginBottom11 {
  margin-bottom: 44px;
}

.marginBottom12 {
  margin-bottom: 48px;
}

.marginBottomauto {
  margin-bottom: auto;
}

/* Margin end */
.marginEnd-12 {
  margin-inline-end: -48px;
}

.marginEnd-11 {
  margin-inline-end: -44px;
}

.marginEnd-10 {
  margin-inline-end: -40px;
}

.marginEnd-9 {
  margin-inline-end: -36px;
}

.marginEnd-8 {
  margin-inline-end: -32px;
}

.marginEnd-7 {
  margin-inline-end: -28px;
}

.marginEnd-6 {
  margin-inline-end: -24px;
}

.marginEnd-5 {
  margin-inline-end: -20px;
}

.marginEnd-4 {
  margin-inline-end: -16px;
}

.marginEnd-3 {
  margin-inline-end: -12px;
}

.marginEnd-2 {
  margin-inline-end: -8px;
}

.marginEnd-1 {
  margin-inline-end: -4px;
}

.marginEnd0 {
  margin-inline-end: 0;
}

.marginEnd1 {
  margin-inline-end: 4px;
}

.marginEnd2 {
  margin-inline-end: 8px;
}

.marginEnd3 {
  margin-inline-end: 12px;
}

.marginEnd4 {
  margin-inline-end: 16px;
}

.marginEnd5 {
  margin-inline-end: 20px;
}

.marginEnd6 {
  margin-inline-end: 24px;
}

.marginEnd7 {
  margin-inline-end: 28px;
}

.marginEnd8 {
  margin-inline-end: 32px;
}

.marginEnd9 {
  margin-inline-end: 36px;
}

.marginEnd10 {
  margin-inline-end: 40px;
}

.marginEnd11 {
  margin-inline-end: 44px;
}

.marginEnd12 {
  margin-inline-end: 48px;
}

.marginEndauto {
  margin-inline-end: auto;
}

/* Margin start */
.marginStart-12 {
  margin-inline-start: -48px;
}

.marginStart-11 {
  margin-inline-start: -44px;
}

.marginStart-10 {
  margin-inline-start: -40px;
}

.marginStart-9 {
  margin-inline-start: -36px;
}

.marginStart-8 {
  margin-inline-start: -32px;
}

.marginStart-7 {
  margin-inline-start: -28px;
}

.marginStart-6 {
  margin-inline-start: -24px;
}

.marginStart-5 {
  margin-inline-start: -20px;
}

.marginStart-4 {
  margin-inline-start: -16px;
}

.marginStart-3 {
  margin-inline-start: -12px;
}

.marginStart-2 {
  margin-inline-start: -8px;
}

.marginStart-1 {
  margin-inline-start: -4px;
}

.marginStart0 {
  margin-inline-start: 0;
}

.marginStart1 {
  margin-inline-start: 4px;
}

.marginStart2 {
  margin-inline-start: 8px;
}

.marginStart3 {
  margin-inline-start: 12px;
}

.marginStart4 {
  margin-inline-start: 16px;
}

.marginStart5 {
  margin-inline-start: 20px;
}

.marginStart6 {
  margin-inline-start: 24px;
}

.marginStart7 {
  margin-inline-start: 28px;
}

.marginStart8 {
  margin-inline-start: 32px;
}

.marginStart9 {
  margin-inline-start: 36px;
}

.marginStart10 {
  margin-inline-start: 40px;
}

.marginStart11 {
  margin-inline-start: 44px;
}

.marginStart12 {
  margin-inline-start: 48px;
}

.marginStartauto {
  margin-inline-start: auto;
}

/* Margin top */
.marginTop-12 {
  margin-top: -48px;
}

.marginTop-11 {
  margin-top: -44px;
}

.marginTop-10 {
  margin-top: -40px;
}

.marginTop-9 {
  margin-top: -36px;
}

.marginTop-8 {
  margin-top: -32px;
}

.marginTop-7 {
  margin-top: -28px;
}

.marginTop-6 {
  margin-top: -24px;
}

.marginTop-5 {
  margin-top: -20px;
}

.marginTop-4 {
  margin-top: -16px;
}

.marginTop-3 {
  margin-top: -12px;
}

.marginTop-2 {
  margin-top: -8px;
}

.marginTop-1 {
  margin-top: -4px;
}

.marginTop0 {
  margin-top: 0;
}

.marginTop1 {
  margin-top: 4px;
}

.marginTop2 {
  margin-top: 8px;
}

.marginTop3 {
  margin-top: 12px;
}

.marginTop4 {
  margin-top: 16px;
}

.marginTop5 {
  margin-top: 20px;
}

.marginTop6 {
  margin-top: 24px;
}

.marginTop7 {
  margin-top: 28px;
}

.marginTop8 {
  margin-top: 32px;
}

.marginTop9 {
  margin-top: 36px;
}

.marginTop10 {
  margin-top: 40px;
}

.marginTop11 {
  margin-top: 44px;
}

.marginTop12 {
  margin-top: 48px;
}

.marginTopauto {
  margin-top: auto;
}

/* Margin (small and up) */
@media (min-width: 480px) {
  .marginBottom-12Small {
    composes: marginBottom-12;
  }

  .marginBottom-11Small {
    composes: marginBottom-11;
  }

  .marginBottom-10Small {
    composes: marginBottom-10;
  }

  .marginBottom-9Small {
    composes: marginBottom-9;
  }

  .marginBottom-8Small {
    composes: marginBottom-8;
  }

  .marginBottom-7Small {
    composes: marginBottom-7;
  }

  .marginBottom-6Small {
    composes: marginBottom-6;
  }

  .marginBottom-5Small {
    composes: marginBottom-5;
  }

  .marginBottom-4Small {
    composes: marginBottom-4;
  }

  .marginBottom-3Small {
    composes: marginBottom-3;
  }

  .marginBottom-2Small {
    composes: marginBottom-2;
  }

  .marginBottom-1Small {
    composes: marginBottom-1;
  }

  .marginBottom0Small {
    composes: marginBottom0;
  }

  .marginBottom1Small {
    composes: marginBottom1;
  }

  .marginBottom2Small {
    composes: marginBottom2;
  }

  .marginBottom3Small {
    composes: marginBottom3;
  }

  .marginBottom4Small {
    composes: marginBottom4;
  }

  .marginBottom5Small {
    composes: marginBottom5;
  }

  .marginBottom6Small {
    composes: marginBottom6;
  }

  .marginBottom7Small {
    composes: marginBottom7;
  }

  .marginBottom8Small {
    composes: marginBottom8;
  }

  .marginBottom9Small {
    composes: marginBottom9;
  }

  .marginBottom10Small {
    composes: marginBottom10;
  }

  .marginBottom11Small {
    composes: marginBottom11;
  }

  .marginBottom12Small {
    composes: marginBottom12;
  }

  .marginBottomautoSmall {
    composes: marginBottomauto;
  }

  .marginEnd-12Small {
    composes: marginEnd-12;
  }

  .marginEnd-11Small {
    composes: marginEnd-11;
  }

  .marginEnd-10Small {
    composes: marginEnd-10;
  }

  .marginEnd-9Small {
    composes: marginEnd-9;
  }

  .marginEnd-8Small {
    composes: marginEnd-8;
  }

  .marginEnd-7Small {
    composes: marginEnd-7;
  }

  .marginEnd-6Small {
    composes: marginEnd-6;
  }

  .marginEnd-5Small {
    composes: marginEnd-5;
  }

  .marginEnd-4Small {
    composes: marginEnd-4;
  }

  .marginEnd-3Small {
    composes: marginEnd-3;
  }

  .marginEnd-2Small {
    composes: marginEnd-2;
  }

  .marginEnd-1Small {
    composes: marginEnd-1;
  }

  .marginEnd0Small {
    composes: marginEnd0;
  }

  .marginEnd1Small {
    composes: marginEnd1;
  }

  .marginEnd2Small {
    composes: marginEnd2;
  }

  .marginEnd3Small {
    composes: marginEnd3;
  }

  .marginEnd4Small {
    composes: marginEnd4;
  }

  .marginEnd5Small {
    composes: marginEnd5;
  }

  .marginEnd6Small {
    composes: marginEnd6;
  }

  .marginEnd7Small {
    composes: marginEnd7;
  }

  .marginEnd8Small {
    composes: marginEnd8;
  }

  .marginEnd9Small {
    composes: marginEnd9;
  }

  .marginEnd10Small {
    composes: marginEnd10;
  }

  .marginEnd11Small {
    composes: marginEnd11;
  }

  .marginEnd12Small {
    composes: marginEnd12;
  }

  .marginEndautoSmall {
    composes: marginEndauto;
  }

  .marginStart-12Small {
    composes: marginStart-12;
  }

  .marginStart-11Small {
    composes: marginStart-11;
  }

  .marginStart-10Small {
    composes: marginStart-10;
  }

  .marginStart-9Small {
    composes: marginStart-9;
  }

  .marginStart-8Small {
    composes: marginStart-8;
  }

  .marginStart-7Small {
    composes: marginStart-7;
  }

  .marginStart-6Small {
    composes: marginStart-6;
  }

  .marginStart-5Small {
    composes: marginStart-5;
  }

  .marginStart-4Small {
    composes: marginStart-4;
  }

  .marginStart-3Small {
    composes: marginStart-3;
  }

  .marginStart-2Small {
    composes: marginStart-2;
  }

  .marginStart-1Small {
    composes: marginStart-1;
  }

  .marginStart0Small {
    composes: marginStart0;
  }

  .marginStart1Small {
    composes: marginStart1;
  }

  .marginStart2Small {
    composes: marginStart2;
  }

  .marginStart3Small {
    composes: marginStart3;
  }

  .marginStart4Small {
    composes: marginStart4;
  }

  .marginStart5Small {
    composes: marginStart5;
  }

  .marginStart6Small {
    composes: marginStart6;
  }

  .marginStart7Small {
    composes: marginStart7;
  }

  .marginStart8Small {
    composes: marginStart8;
  }

  .marginStart9Small {
    composes: marginStart9;
  }

  .marginStart10Small {
    composes: marginStart10;
  }

  .marginStart11Small {
    composes: marginStart11;
  }

  .marginStart12Small {
    composes: marginStart12;
  }

  .marginStartautoSmall {
    composes: marginStartauto;
  }

  .marginTop-12Small {
    composes: marginTop-12;
  }

  .marginTop-11Small {
    composes: marginTop-11;
  }

  .marginTop-10Small {
    composes: marginTop-10;
  }

  .marginTop-9Small {
    composes: marginTop-9;
  }

  .marginTop-8Small {
    composes: marginTop-8;
  }

  .marginTop-7Small {
    composes: marginTop-7;
  }

  .marginTop-6Small {
    composes: marginTop-6;
  }

  .marginTop-5Small {
    composes: marginTop-5;
  }

  .marginTop-4Small {
    composes: marginTop-4;
  }

  .marginTop-3Small {
    composes: marginTop-3;
  }

  .marginTop-2Small {
    composes: marginTop-2;
  }

  .marginTop-1Small {
    composes: marginTop-1;
  }

  .marginTop0Small {
    composes: marginTop0;
  }

  .marginTop1Small {
    composes: marginTop1;
  }

  .marginTop2Small {
    composes: marginTop2;
  }

  .marginTop3Small {
    composes: marginTop3;
  }

  .marginTop4Small {
    composes: marginTop4;
  }

  .marginTop5Small {
    composes: marginTop5;
  }

  .marginTop6Small {
    composes: marginTop6;
  }

  .marginTop7Small {
    composes: marginTop7;
  }

  .marginTop8Small {
    composes: marginTop8;
  }

  .marginTop9Small {
    composes: marginTop9;
  }

  .marginTop10Small {
    composes: marginTop10;
  }

  .marginTop11Small {
    composes: marginTop11;
  }

  .marginTop12Small {
    composes: marginTop12;
  }

  .marginTopautoSmall {
    composes: marginTopauto;
  }
}

/* Margin (large and up) */
@media (min-width: 960px) {
  .marginBottom-12Large {
    composes: marginBottom-12;
  }

  .marginBottom-11Large {
    composes: marginBottom-11;
  }

  .marginBottom-10Large {
    composes: marginBottom-10;
  }

  .marginBottom-9Large {
    composes: marginBottom-9;
  }

  .marginBottom-8Large {
    composes: marginBottom-8;
  }

  .marginBottom-7Large {
    composes: marginBottom-7;
  }

  .marginBottom-6Large {
    composes: marginBottom-6;
  }

  .marginBottom-5Large {
    composes: marginBottom-5;
  }

  .marginBottom-4Large {
    composes: marginBottom-4;
  }

  .marginBottom-3Large {
    composes: marginBottom-3;
  }

  .marginBottom-2Large {
    composes: marginBottom-2;
  }

  .marginBottom-1Large {
    composes: marginBottom-1;
  }

  .marginBottom0Large {
    composes: marginBottom0;
  }

  .marginBottom1Large {
    composes: marginBottom1;
  }

  .marginBottom2Large {
    composes: marginBottom2;
  }

  .marginBottom3Large {
    composes: marginBottom3;
  }

  .marginBottom4Large {
    composes: marginBottom4;
  }

  .marginBottom5Large {
    composes: marginBottom5;
  }

  .marginBottom6Large {
    composes: marginBottom6;
  }

  .marginBottom7Large {
    composes: marginBottom7;
  }

  .marginBottom8Large {
    composes: marginBottom8;
  }

  .marginBottom9Large {
    composes: marginBottom9;
  }

  .marginBottom10Large {
    composes: marginBottom10;
  }

  .marginBottom11Large {
    composes: marginBottom11;
  }

  .marginBottom12Large {
    composes: marginBottom12;
  }

  .marginBottomautoLarge {
    composes: marginBottomauto;
  }

  .marginEnd-12Large {
    composes: marginEnd-12;
  }

  .marginEnd-11Large {
    composes: marginEnd-11;
  }

  .marginEnd-10Large {
    composes: marginEnd-10;
  }

  .marginEnd-9Large {
    composes: marginEnd-9;
  }

  .marginEnd-8Large {
    composes: marginEnd-8;
  }

  .marginEnd-7Large {
    composes: marginEnd-7;
  }

  .marginEnd-6Large {
    composes: marginEnd-6;
  }

  .marginEnd-5Large {
    composes: marginEnd-5;
  }

  .marginEnd-4Large {
    composes: marginEnd-4;
  }

  .marginEnd-3Large {
    composes: marginEnd-3;
  }

  .marginEnd-2Large {
    composes: marginEnd-2;
  }

  .marginEnd-1Large {
    composes: marginEnd-1;
  }

  .marginEnd0Large {
    composes: marginEnd0;
  }

  .marginEnd1Large {
    composes: marginEnd1;
  }

  .marginEnd2Large {
    composes: marginEnd2;
  }

  .marginEnd3Large {
    composes: marginEnd3;
  }

  .marginEnd4Large {
    composes: marginEnd4;
  }

  .marginEnd5Large {
    composes: marginEnd5;
  }

  .marginEnd6Large {
    composes: marginEnd6;
  }

  .marginEnd7Large {
    composes: marginEnd7;
  }

  .marginEnd8Large {
    composes: marginEnd8;
  }

  .marginEnd9Large {
    composes: marginEnd9;
  }

  .marginEnd10Large {
    composes: marginEnd10;
  }

  .marginEnd11Large {
    composes: marginEnd11;
  }

  .marginEnd12Large {
    composes: marginEnd12;
  }

  .marginEndautoLarge {
    composes: marginEndauto;
  }

  .marginStart-12Large {
    composes: marginStart-12;
  }

  .marginStart-11Large {
    composes: marginStart-11;
  }

  .marginStart-10Large {
    composes: marginStart-10;
  }

  .marginStart-9Large {
    composes: marginStart-9;
  }

  .marginStart-8Large {
    composes: marginStart-8;
  }

  .marginStart-7Large {
    composes: marginStart-7;
  }

  .marginStart-6Large {
    composes: marginStart-6;
  }

  .marginStart-5Large {
    composes: marginStart-5;
  }

  .marginStart-4Large {
    composes: marginStart-4;
  }

  .marginStart-3Large {
    composes: marginStart-3;
  }

  .marginStart-2Large {
    composes: marginStart-2;
  }

  .marginStart-1Large {
    composes: marginStart-1;
  }

  .marginStart0Large {
    composes: marginStart0;
  }

  .marginStart1Large {
    composes: marginStart1;
  }

  .marginStart2Large {
    composes: marginStart2;
  }

  .marginStart3Large {
    composes: marginStart3;
  }

  .marginStart4Large {
    composes: marginStart4;
  }

  .marginStart5Large {
    composes: marginStart5;
  }

  .marginStart6Large {
    composes: marginStart6;
  }

  .marginStart7Large {
    composes: marginStart7;
  }

  .marginStart8Large {
    composes: marginStart8;
  }

  .marginStart9Large {
    composes: marginStart9;
  }

  .marginStart10Large {
    composes: marginStart10;
  }

  .marginStart11Large {
    composes: marginStart11;
  }

  .marginStart12Large {
    composes: marginStart12;
  }

  .marginStartautoLarge {
    composes: marginStartauto;
  }

  .marginTop-12Large {
    composes: marginTop-12;
  }

  .marginTop-11Large {
    composes: marginTop-11;
  }

  .marginTop-10Large {
    composes: marginTop-10;
  }

  .marginTop-9Large {
    composes: marginTop-9;
  }

  .marginTop-8Large {
    composes: marginTop-8;
  }

  .marginTop-7Large {
    composes: marginTop-7;
  }

  .marginTop-6Large {
    composes: marginTop-6;
  }

  .marginTop-5Large {
    composes: marginTop-5;
  }

  .marginTop-4Large {
    composes: marginTop-4;
  }

  .marginTop-3Large {
    composes: marginTop-3;
  }

  .marginTop-2Large {
    composes: marginTop-2;
  }

  .marginTop-1Large {
    composes: marginTop-1;
  }

  .marginTop0Large {
    composes: marginTop0;
  }

  .marginTop1Large {
    composes: marginTop1;
  }

  .marginTop2Large {
    composes: marginTop2;
  }

  .marginTop3Large {
    composes: marginTop3;
  }

  .marginTop4Large {
    composes: marginTop4;
  }

  .marginTop5Large {
    composes: marginTop5;
  }

  .marginTop6Large {
    composes: marginTop6;
  }

  .marginTop7Large {
    composes: marginTop7;
  }

  .marginTop8Large {
    composes: marginTop8;
  }

  .marginTop9Large {
    composes: marginTop9;
  }

  .marginTop10Large {
    composes: marginTop10;
  }

  .marginTop11Large {
    composes: marginTop11;
  }

  .marginTop12Large {
    composes: marginTop12;
  }

  .marginTopautoLarge {
    composes: marginTopauto;
  }
}
