/* Padding */
.paddingX0 {
  padding-left: 0;
  padding-right: 0;
}

.paddingX1 {
  padding-left: 4px;
  padding-right: 4px;
}

.paddingX2 {
  padding-left: 8px;
  padding-right: 8px;
}

.paddingX3 {
  padding-left: 12px;
  padding-right: 12px;
}

.paddingX4 {
  padding-left: 16px;
  padding-right: 16px;
}

.paddingX5 {
  padding-left: 20px;
  padding-right: 20px;
}

.paddingX6 {
  padding-left: 24px;
  padding-right: 24px;
}

.paddingX7 {
  padding-left: 28px;
  padding-right: 28px;
}

.paddingX8 {
  padding-left: 32px;
  padding-right: 32px;
}

.paddingX9 {
  padding-left: 36px;
  padding-right: 36px;
}

.paddingX10 {
  padding-left: 40px;
  padding-right: 40px;
}

.paddingX11 {
  padding-left: 44px;
  padding-right: 44px;
}

.paddingX12 {
  padding-left: 48px;
  padding-right: 48px;
}

.paddingY0 {
  padding-bottom: 0;
  padding-top: 0;
}

.paddingY1 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.paddingY2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.paddingY3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.paddingY4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.paddingY5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.paddingY6 {
  padding-bottom: 24px;
  padding-top: 24px;
}

.paddingY7 {
  padding-bottom: 28px;
  padding-top: 28px;
}

.paddingY8 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.paddingY9 {
  padding-bottom: 36px;
  padding-top: 36px;
}

.paddingY10 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.paddingY11 {
  padding-bottom: 44px;
  padding-top: 44px;
}

.paddingY12 {
  padding-bottom: 48px;
  padding-top: 48px;
}

/* Padding (small and up) */
@media (min-width: 480px) {
  .paddingX0Small {
    padding-left: 0;
    padding-right: 0;
  }

  .paddingX1Small {
    padding-left: 4px;
    padding-right: 4px;
  }

  .paddingX2Small {
    padding-left: 8px;
    padding-right: 8px;
  }

  .paddingX3Small {
    padding-left: 12px;
    padding-right: 12px;
  }

  .paddingX4Small {
    padding-left: 16px;
    padding-right: 16px;
  }

  .paddingX5Small {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paddingX6Small {
    padding-left: 24px;
    padding-right: 24px;
  }

  .paddingX7Small {
    padding-left: 28px;
    padding-right: 28px;
  }

  .paddingX8Small {
    padding-left: 32px;
    padding-right: 32px;
  }

  .paddingX9Small {
    padding-left: 36px;
    padding-right: 36px;
  }

  .paddingX10Small {
    padding-left: 40px;
    padding-right: 40px;
  }

  .paddingX11Small {
    padding-left: 44px;
    padding-right: 44px;
  }

  .paddingX12Small {
    padding-left: 48px;
    padding-right: 48px;
  }

  .paddingY0Small {
    padding-bottom: 0;
    padding-top: 0;
  }

  .paddingY1Small {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .paddingY2Small {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .paddingY3Small {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .paddingY4Small {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .paddingY5Small {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .paddingY6Small {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .paddingY7Small {
    padding-bottom: 28px;
    padding-top: 28px;
  }

  .paddingY8Small {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .paddingY9Small {
    padding-bottom: 36px;
    padding-top: 36px;
  }

  .paddingY10Small {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .paddingY11Small {
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .paddingY12Small {
    padding-bottom: 48px;
    padding-top: 48px;
  }
}

/* Padding (large and up) */
@media (min-width: 960px) {
  .paddingX0Large {
    padding-left: 0;
    padding-right: 0;
  }

  .paddingX1Large {
    padding-left: 4px;
    padding-right: 4px;
  }

  .paddingX2Large {
    padding-left: 8px;
    padding-right: 8px;
  }

  .paddingX3Large {
    padding-left: 12px;
    padding-right: 12px;
  }

  .paddingX4Large {
    padding-left: 16px;
    padding-right: 16px;
  }

  .paddingX5Large {
    padding-left: 20px;
    padding-right: 20px;
  }

  .paddingX6Large {
    padding-left: 24px;
    padding-right: 24px;
  }

  .paddingX7Large {
    padding-left: 28px;
    padding-right: 28px;
  }

  .paddingX8Large {
    padding-left: 32px;
    padding-right: 32px;
  }

  .paddingX9Large {
    padding-left: 36px;
    padding-right: 36px;
  }

  .paddingX10Large {
    padding-left: 40px;
    padding-right: 40px;
  }

  .paddingX11Large {
    padding-left: 44px;
    padding-right: 44px;
  }

  .paddingX12Large {
    padding-left: 48px;
    padding-right: 48px;
  }

  .paddingY0Large {
    padding-bottom: 0;
    padding-top: 0;
  }

  .paddingY1Large {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .paddingY2Large {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .paddingY3Large {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .paddingY4Large {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .paddingY5Large {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .paddingY6Large {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .paddingY7Large {
    padding-bottom: 28px;
    padding-top: 28px;
  }

  .paddingY8Large {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .paddingY9Large {
    padding-bottom: 36px;
    padding-top: 36px;
  }

  .paddingY10Large {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .paddingY11Large {
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .paddingY12Large {
    padding-bottom: 48px;
    padding-top: 48px;
  }
}
