.textfield {
  appearance: none;
  border: 1px solid var(--color-base-gray-700);
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
}

.textfield:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}

.textfield:disabled {
  cursor: auto;
}

.label {
  cursor: pointer;
}

.sm {
  border-radius: 12px;
  font-size: 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.smHeight {
  height: 32px;
}

.md {
  border-radius: 12px;
  font-size: 14px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

.mdHeight {
  height: 40px;
}

.lg {
  border-radius: 16px;
  font-size: 16px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
}

.lgHeight {
  height: 48px;
}

.inputError {
  color: var(--color-base-destructive-700);
  border-color: var(--color-base-destructive-700);
  background-color: var(--color-base-destructive-100);
}

.inputError::placeholder {
  color: var(--color-base-destructive-700);
}
