@import url("../IconButton/IconButton.module.css");

.iconLinkButton {
  composes: iconButton;
  text-decoration: none;
}

.sm {
  composes: sm;
}

.md {
  composes: md;
}

.lg {
  composes: lg;
}

.smIcon {
  composes: smIcon;
}

.mdIcon {
  composes: mdIcon;
}

.lgIcon {
  composes: lgIcon;
}

.disabled {
  pointer-events: none;
  cursor: default;
  filter: opacity(50%);
}
