/* Regular Colors */
.inheritColor {
  color: inherit;
}

.destructive700Color {
  color: var(--color-base-destructive-700);
}

.gray700Color {
  color: var(--color-base-gray-700);
}

.gray900Color {
  color: var(--color-base-gray-900);
}

.primary700Color {
  color: var(--color-base-primary-700);
}

.success700Color {
  color: var(--color-base-success-700);
}

.whiteColor {
  color: var(--color-base-white);
}

.blackColor {
  color: var(--color-base-black);
}

.destructive100Color {
  color: var(--color-base-destructive-100);
}

.destructive200Color {
  color: var(--color-base-destructive-200);
}

.destructive300Color {
  color: var(--color-base-destructive-300);
}

.destructive800Color {
  color: var(--color-base-destructive-800);
}

.destructive900Color {
  color: var(--color-base-destructive-900);
}

.gray10Color {
  color: var(--color-base-gray-10);
}

.gray30Color {
  color: var(--color-base-gray-30);
}

.gray60Color {
  color: var(--color-base-gray-60);
}

.gray80Color {
  color: var(--color-base-gray-80);
}

.gray100Color {
  color: var(--color-base-gray-100);
}

.gray200Color {
  color: var(--color-base-gray-200);
}

.gray300Color {
  color: var(--color-base-gray-300);
}

.gray800Color {
  color: var(--color-base-gray-800);
}

.orange100Color {
  color: var(--color-base-orange-100);
}

.orange200Color {
  color: var(--color-base-orange-200);
}

.orange300Color {
  color: var(--color-base-orange-300);
}

.orange700Color {
  color: var(--color-base-orange-700);
}

.orange800Color {
  color: var(--color-base-orange-800);
}

.orange900Color {
  color: var(--color-base-orange-900);
}

.primary100Color {
  color: var(--color-base-primary-100);
}

.primary200Color {
  color: var(--color-base-primary-200);
}

.primary300Color {
  color: var(--color-base-primary-300);
}

.primary800Color {
  color: var(--color-base-primary-800);
}

.primary900Color {
  color: var(--color-base-primary-900);
}

.success100Color {
  color: var(--color-base-success-100);
}

.success200Color {
  color: var(--color-base-success-200);
}

.success300Color {
  color: var(--color-base-success-300);
}

.success800Color {
  color: var(--color-base-success-800);
}

.success900Color {
  color: var(--color-base-success-900);
}

.purple100Color {
  color: var(--color-base-purple-100);
}

.purple200Color {
  color: var(--color-base-purple-200);
}

.purple300Color {
  color: var(--color-base-purple-300);
}

.purple700Color {
  color: var(--color-base-purple-700);
}

.purple800Color {
  color: var(--color-base-purple-800);
}

.purple900Color {
  color: var(--color-base-purple-900);
}

.yellow100Color {
  color: var(--color-base-yellow-100);
}

.yellow200Color {
  color: var(--color-base-yellow-200);
}

.yellow300Color {
  color: var(--color-base-yellow-300);
}

.yellow700Color {
  color: var(--color-base-yellow-700);
}

.yellow800Color {
  color: var(--color-base-yellow-800);
}

.yellow900Color {
  color: var(--color-base-yellow-900);
}

/* Border Colors */
.noBorder {
  border: none;
}

.blackBorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-black) inset;
}

.whiteBorderColor {
  box-shadow: 0 0 0 1px var(--color-base-white) inset;
}

.success770BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-success-770) inset;
}

.destructive770BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-destructive-770) inset;
}

.gray370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-gray-370) inset;
}

.success370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-success-370) inset;
}

.destructive370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-destructive-370) inset;
}

.cambioGray870BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-gray-870) inset;
}

/* Background Colors */

.blackBackgroundColor {
  background-color: var(--color-base-black);
}

.destructive100BackgroundColor {
  background-color: var(--color-base-destructive-100);
}

.destructive200BackgroundColor {
  background-color: var(--color-base-destructive-200);
}

.destructive300BackgroundColor {
  background-color: var(--color-base-destructive-300);
}

.destructive700BackgroundColor {
  background-color: var(--color-base-destructive-700);
}

.destructive800BackgroundColor {
  background-color: var(--color-base-destructive-800);
}

.destructive900BackgroundColor {
  background-color: var(--color-base-destructive-900);
}

.gray10BackgroundColor {
  background-color: var(--color-base-gray-10);
}

.gray30BackgroundColor {
  background-color: var(--color-base-gray-30);
}

.gray60BackgroundColor {
  background-color: var(--color-base-gray-60);
}

.gray80BackgroundColor {
  background-color: var(--color-base-gray-80);
}

.gray100BackgroundColor {
  background-color: var(--color-base-gray-100);
}

.gray200BackgroundColor {
  background-color: var(--color-base-gray-200);
}

.gray300BackgroundColor {
  background-color: var(--color-base-gray-300);
}

.gray700BackgroundColor {
  background-color: var(--color-base-gray-700);
}

.gray800BackgroundColor {
  background-color: var(--color-base-gray-800);
}

.gray900BackgroundColor {
  background-color: var(--color-base-gray-900);
}

.orange100BackgroundColor {
  background-color: var(--color-base-orange-100);
}

.orange200BackgroundColor {
  background-color: var(--color-base-orange-200);
}

.orange300BackgroundColor {
  background-color: var(--color-base-orange-300);
}

.orange700BackgroundColor {
  background-color: var(--color-base-orange-700);
}

.orange800BackgroundColor {
  background-color: var(--color-base-orange-800);
}

.orange900BackgroundColor {
  background-color: var(--color-base-orange-900);
}

.primary100BackgroundColor {
  background-color: var(--color-base-primary-100);
}

.primary200BackgroundColor {
  background-color: var(--color-base-primary-200);
}

.primary300BackgroundColor {
  background-color: var(--color-base-primary-300);
}

.primary700BackgroundColor {
  background-color: var(--color-base-primary-700);
}

.primary800BackgroundColor {
  background-color: var(--color-base-primary-800);
}

.primary900BackgroundColor {
  background-color: var(--color-base-primary-900);
}

.success100BackgroundColor {
  background-color: var(--color-base-success-100);
}

.success200BackgroundColor {
  background-color: var(--color-base-success-200);
}

.success300BackgroundColor {
  background-color: var(--color-base-success-300);
}

.success700BackgroundColor {
  background-color: var(--color-base-success-700);
}

.success800BackgroundColor {
  background-color: var(--color-base-success-800);
}

.success900BackgroundColor {
  background-color: var(--color-base-success-900);
}

.purple100BackgroundColor {
  background-color: var(--color-base-purple-100);
}

.purple200BackgroundColor {
  background-color: var(--color-base-purple-200);
}

.purple300BackgroundColor {
  background-color: var(--color-base-purple-300);
}

.purple700BackgroundColor {
  background-color: var(--color-base-purple-700);
}

.purple800BackgroundColor {
  background-color: var(--color-base-purple-800);
}

.purple900BackgroundColor {
  background-color: var(--color-base-purple-900);
}

.whiteBackgroundColor {
  background-color: var(--color-base-white);
}

.yellow100BackgroundColor {
  background-color: var(--color-base-yellow-100);
}

.yellow200BackgroundColor {
  background-color: var(--color-base-yellow-200);
}

.yellow300BackgroundColor {
  background-color: var(--color-base-yellow-300);
}

.yellow700BackgroundColor {
  background-color: var(--color-base-yellow-700);
}

.yellow800BackgroundColor {
  background-color: var(--color-base-yellow-800);
}

.yellow900BackgroundColor {
  background-color: var(--color-base-yellow-900);
}

/* Cambio colors */
.cambioBlackColor {
  color: var(--color-cambio-black);
}

.cambioWhiteColor {
  color: var(--color-cambio-white-100);
}

.white40Color {
  color: var(--color-cambio-white-40);
}

.white70Color {
  color: var(--color-cambio-white-70);
}

.cambioGray100Color {
  color: var(--color-cambio-gray-100);
}

.cambioGray200Color {
  color: var(--color-cambio-gray-200);
}

.gray270Color {
  color: var(--color-cambio-gray-270);
}

.cambioGray300Color {
  color: var(--color-cambio-gray-300);
}

.cambioGray370Color {
  color: var(--color-cambio-gray-370);
}

.cambioGray700Color {
  color: var(--color-cambio-gray-700);
}

.cambioGray800Color {
  color: var(--color-cambio-gray-800);
}

.cambioGray870Color {
  color: var(--color-cambio-gray-870);
}

.cambioGray900Color {
  color: var(--color-cambio-gray-900);
}

.cambioDestructive100Color {
  color: var(--color-cambio-destructive-100);
}

.cambioDestructive300Color {
  color: var(--color-cambio-destructive-300);
}

.cambioDestructive370Color {
  color: var(--color-cambio-destructive-370);
}

.cambioDestructive700Color {
  color: var(--color-cambio-destructive-700);
}

.cambioDestructive770Color {
  color: var(--color-cambio-destructive-770);
}

.cambioDestructive900Color {
  color: var(--color-cambio-destructive-900);
}

.cambioSuccess100Color {
  color: var(--color-cambio-success-100);
}

.cambioSuccess300Color {
  color: var(--color-cambio-success-300);
}

.cambioSuccess370Color {
  color: var(--color-cambio-success-370);
}

.cambioSuccess700Color {
  color: var(--color-cambio-success-700);
}

.cambioSuccess770Color {
  color: var(--color-cambio-success-770);
}

.cambioSuccess900Color {
  color: var(--color-cambio-success-900);
}

.cambioRedColor {
  color: var(--color-cambio-red);
}

.cambioOrangeColor {
  color: var(--color-cambio-orange);
}

.cambioTanColor {
  color: var(--color-cambio-tan);
}

.cambioCreamColor {
  color: var(--color-cambio-cream);
}

.cambioPurpleColor {
  color: var(--color-cambio-purple);
}

.cambioLilacColor {
  color: var(--color-cambio-lilac);
}

.cambioThistleColor {
  color: var(--color-cambio-thistle);
}

.cambioPinkColor {
  color: var(--color-cambio-pink);
}

.cambioNavyColor {
  color: var(--color-cambio-navy);
}

.cambioTealColor {
  color: var(--color-cambio-teal);
}

.cambioSlateColor {
  color: var(--color-cambio-slate);
}

.cambioSkyColor {
  color: var(--color-cambio-sky);
}

.cambioYellow700Color {
  color: var(--color-cambio-yellow-700);
}

.gray370Color {
  color: var(--color-cambio-gray-370);
}

.gray870Color {
  color: var(--color-cambio-gray-870);
}

.redColor {
  color: var(--color-cambio-red);
}

.orangeColor {
  color: var(--color-cambio-orange);
}

.tanColor {
  color: var(--color-cambio-tan);
}

.creamColor {
  color: var(--color-cambio-cream);
}

.purpleColor {
  color: var(--color-cambio-purple);
}

.lilacColor {
  color: var(--color-cambio-lilac);
}

.thistleColor {
  color: var(--color-cambio-thistle);
}

.pinkColor {
  color: var(--color-cambio-pink);
}

.navyColor {
  color: var(--color-cambio-navy);
}

.tealColor {
  color: var(--color-cambio-teal);
}

.slateColor {
  color: var(--color-cambio-slate);
}

.skyColor {
  color: var(--color-cambio-sky);
}

.cambioTransparentFullBackgroundColor {
  background-color: var(--color-cambio-transparent-full);
}

.cambioBlackBackgroundColor {
  background-color: var(--color-cambio-black);
}

.cambioWhiteBackgroundColor {
  background-color: var(--color-cambio-white-100);
}

.white40BackgroundColor {
  background-color: var(--color-cambio-white-40);
}

.white70BackgroundColor {
  background-color: var(--color-cambio-white-70);
}

.cambioGray100BackgroundColor {
  background-color: var(--color-cambio-gray-100);
}

.cambioGray200BackgroundColor {
  background-color: var(--color-cambio-gray-200);
}

.cambioGray300BackgroundColor {
  background-color: var(--color-cambio-gray-300);
}

.gray270BackgroundColor {
  background-color: var(--color-cambio-gray-270);
}

.gray370BackgroundColor {
  background-color: var(--color-cambio-gray-370);
}

.cambioGray370BackgroundColor {
  background-color: var(--color-cambio-gray-370);
}

.cambioGray700BackgroundColor {
  background-color: var(--color-cambio-gray-700);
}

.cambioGray800BackgroundColor {
  background-color: var(--color-cambio-gray-800);
}

.gray870BackgroundColor {
  background-color: var(--color-cambio-gray-870);
}

.cambioGray870BackgroundColor {
  background-color: var(--color-cambio-gray-870);
}

.cambioGray900BackgroundColor {
  background-color: var(--color-cambio-gray-900);
}

.cambioDestructive100BackgroundColor {
  background-color: var(--color-cambio-destructive-100);
}

.cambioDestructive300BackgroundColor {
  background-color: var(--color-cambio-destructive-300);
}

.cambioDestructive370BackgroundColor {
  background-color: var(--color-cambio-destructive-370);
}

.cambioDestructive700BackgroundColor {
  background-color: var(--color-cambio-destructive-700);
}

.cambioDestructive770BackgroundColor {
  background-color: var(--color-cambio-destructive-770);
}

.cambioDestructive900BackgroundColor {
  background-color: var(--color-cambio-destructive-900);
}

.cambioSuccess100BackgroundColor {
  background-color: var(--color-cambio-success-100);
}

.cambioSuccess300BackgroundColor {
  background-color: var(--color-cambio-success-300);
}

.cambioSuccess370BackgroundColor {
  background-color: var(--color-cambio-success-370);
}

.cambioSuccess700BackgroundColor {
  background-color: var(--color-cambio-success-700);
}

.cambioSuccess770BackgroundColor {
  background-color: var(--color-cambio-success-770);
}

.cambioSuccess900BackgroundColor {
  background-color: var(--color-cambio-success-900);
}

.redBackgroundColor {
  background-color: var(--color-cambio-red);
}

.cambioRedBackgroundColor {
  background-color: var(--color-cambio-red);
}

.orangeBackgroundColor {
  background-color: var(--color-cambio-orange);
}

.cambioOrangeBackgroundColor {
  background-color: var(--color-cambio-orange);
}

.tanBackgroundColor {
  background-color: var(--color-cambio-tan);
}

.cambioTanBackgroundColor {
  background-color: var(--color-cambio-tan);
}

.creamBackgroundColor {
  background-color: var(--color-cambio-cream);
}

.cambioCreamBackgroundColor {
  background-color: var(--color-cambio-cream);
}

.purpleBackgroundColor {
  background-color: var(--color-cambio-purple);
}

.cambioPurpleBackgroundColor {
  background-color: var(--color-cambio-purple);
}

.lilacBackgroundColor {
  background-color: var(--color-cambio-lilac);
}

.cambioLilacBackgroundColor {
  background-color: var(--color-cambio-lilac);
}

.thistleBackgroundColor {
  background-color: var(--color-cambio-thistle);
}

.cambioThistleBackgroundColor {
  background-color: var(--color-cambio-thistle);
}

.pinkBackgroundColor {
  background-color: var(--color-cambio-pink);
}

.cambioPinkBackgroundColor {
  background-color: var(--color-cambio-pink);
}

.navyBackgroundColor {
  background-color: var(--color-cambio-navy);
}

.cambioNavyBackgroundColor {
  background-color: var(--color-cambio-navy);
}

.tealBackgroundColor {
  background-color: var(--color-cambio-teal);
}

.cambioTealBackgroundColor {
  background-color: var(--color-cambio-teal);
}

.slateBackgroundColor {
  background-color: var(--color-cambio-slate);
}

.cambioSlateBackgroundColor {
  background-color: var(--color-cambio-slate);
}

.skyBackgroundColor {
  background-color: var(--color-cambio-sky);
}

.cambioSkyBackgroundColor {
  background-color: var(--color-cambio-sky);
}

.cambioYellow700BackgroundColor {
  background-color: var(--color-cambio-yellow-700);
}
