/* Cambio colors */
.blackColor {
  color: var(--color-cambio-black);
}

.whiteColor {
  color: var(--color-cambio-white);
}

.gray100Color {
  color: var(--color-cambio-gray-100);
}

.gray200Color {
  color: var(--color-cambio-gray-200);
}

.gray300Color {
  color: var(--color-cambio-gray-300);
}

.gray370Color {
  color: var(--color-cambio-gray-370);
}

.gray700Color {
  color: var(--color-cambio-gray-700);
}

.gray800Color {
  color: var(--color-cambio-gray-800);
}

.gray870Color {
  color: var(--color-cambio-gray-870);
}

.gray900Color {
  color: var(--color-cambio-gray-900);
}

.destructive100Color {
  color: var(--color-cambio-destructive-100);
}

.destructive300Color {
  color: var(--color-cambio-destructive-300);
}

.destructive370Color {
  color: var(--color-cambio-destructive-370);
}

.destructive700Color {
  color: var(--color-cambio-destructive-700);
}

.destructive770Color {
  color: var(--color-cambio-destructive-770);
}

.destructive900Color {
  color: var(--color-cambio-destructive-900);
}

.success100Color {
  color: var(--color-cambio-success-100);
}

.success300Color {
  color: var(--color-cambio-success-300);
}

.success370Color {
  color: var(--color-cambio-success-370);
}

.success700Color {
  color: var(--color-cambio-success-700);
}

.success770Color {
  color: var(--color-cambio-success-770);
}

.success900Color {
  color: var(--color-cambio-success-900);
}

.redColor {
  color: var(--color-cambio-red);
}

.orangeColor {
  color: var(--color-cambio-orange);
}

.tanColor {
  color: var(--color-cambio-tan);
}

.creamColor {
  color: var(--color-cambio-cream);
}

.purpleColor {
  color: var(--color-cambio-purple);
}

.lilacColor {
  color: var(--color-cambio-lilac);
}

.thistleColor {
  color: var(--color-cambio-thistle);
}

.pinkColor {
  color: var(--color-cambio-pink);
}

.navyColor {
  color: var(--color-cambio-navy);
}

.tealColor {
  color: var(--color-cambio-teal);
}

.slateColor {
  color: var(--color-cambio-slate);
}

.skyColor {
  color: var(--color-cambio-sky);
}

/* Border Colors */
.noBorder {
  border: none;
}

.blackBorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-black) inset;
}

.whiteBorderColor {
  box-shadow: 0 0 0 1px var(--color-base-white) inset;
}

.success770BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-success-770) inset;
}

.destructive770BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-destructive-770) inset;
}

.gray370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-gray-370) inset;
}

.success370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-success-370) inset;
}

.destructive370BorderColor {
  box-shadow: 0 0 0 1px var(--color-cambio-destructive-370) inset;
}

/* Background Colors */
.primary100BackgroundColor {
  background-color: var(--color-base-primary-100);
}

.primary200BackgroundColor {
  background-color: var(--color-base-primary-200);
}

.primary300BackgroundColor {
  background-color: var(--color-base-primary-300);
}

.primary700BackgroundColor {
  background-color: var(--color-base-primary-700);
}

.primary800BackgroundColor {
  background-color: var(--color-base-primary-800);
}

.primary900BackgroundColor {
  background-color: var(--color-base-primary-900);
}

.yellow700BackgroundColor {
  background-color: var(--color-cambio-yellow-700);
}

.transparentFullBackgroundColor {
  background-color: var(--color-cambio-transparent-full);
}

.blackBackgroundColor {
  background-color: var(--color-cambio-black);
}

.whiteBackgroundColor {
  background-color: var(--color-cambio-white);
}

.gray100BackgroundColor {
  background-color: var(--color-cambio-gray-100);
}

.gray200BackgroundColor {
  background-color: var(--color-cambio-gray-200);
}

.gray300BackgroundColor {
  background-color: var(--color-cambio-gray-300);
}

.gray370BackgroundColor {
  background-color: var(--color-cambio-gray-370);
}

.gray700BackgroundColor {
  background-color: var(--color-cambio-gray-700);
}

.gray800BackgroundColor {
  background-color: var(--color-cambio-gray-800);
}

.gray870BackgroundColor {
  background-color: var(--color-cambio-gray-870);
}

.gray900BackgroundColor {
  background-color: var(--color-cambio-gray-900);
}

.destructive100BackgroundColor {
  background-color: var(--color-cambio-destructive-100);
}

.destructive300BackgroundColor {
  background-color: var(--color-cambio-destructive-300);
}

.destructive370BackgroundColor {
  background-color: var(--color-cambio-destructive-370);
}

.destructive700BackgroundColor {
  background-color: var(--color-cambio-destructive-700);
}

.destructive770BackgroundColor {
  background-color: var(--color-cambio-destructive-770);
}

.destructive900BackgroundColor {
  background-color: var(--color-cambio-destructive-900);
}

.success100BackgroundColor {
  background-color: var(--color-cambio-success-100);
}

.success300BackgroundColor {
  background-color: var(--color-cambio-success-300);
}

.success370BackgroundColor {
  background-color: var(--color-cambio-success-370);
}

.success700BackgroundColor {
  background-color: var(--color-cambio-success-700);
}

.success770BackgroundColor {
  background-color: var(--color-cambio-success-770);
}

.success900BackgroundColor {
  background-color: var(--color-cambio-success-900);
}

.redBackgroundColor {
  background-color: var(--color-cambio-red);
}

.orangeBackgroundColor {
  background-color: var(--color-cambio-orange);
}

.tanBackgroundColor {
  background-color: var(--color-cambio-tan);
}

.creamBackgroundColor {
  background-color: var(--color-cambio-cream);
}

.purpleBackgroundColor {
  background-color: var(--color-cambio-purple);
}

.lilacBackgroundColor {
  background-color: var(--color-cambio-lilac);
}

.thistleBackgroundColor {
  background-color: var(--color-cambio-thistle);
}

.pinkBackgroundColor {
  background-color: var(--color-cambio-pink);
}

.navyBackgroundColor {
  background-color: var(--color-cambio-navy);
}

.tealBackgroundColor {
  background-color: var(--color-cambio-teal);
}

.slateBackgroundColor {
  background-color: var(--color-cambio-slate);
}

.skyBackgroundColor {
  background-color: var(--color-cambio-sky);
}
