.tapArea {
  box-sizing: border-box;
}

.fullWidth {
  width: 100%;
}

.disabled {
  filter: opacity(50%);
  background-image: none;
  transform: none;
  cursor: auto;
}

.enabled {
  cursor: pointer;
}

.enabled:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  transition-duration: 0.2s;
  cursor: pointer;
}

.enabled:focus-visible {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}
