.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  word-wrap: break-word;
}

.uncontrolledTooltip {
  background-color: #444;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  word-wrap: break-word;
}
