.textarea {
  border-radius: 12px;
}

.sm {
  padding-bottom: 12px;
  padding-top: 12px;
}

.md {
  padding-bottom: 12px;
  padding-top: 12px;
}

.lg {
  padding-bottom: 16px;
  padding-top: 16px;
}

.textareaCambio {
  padding: 28px 12px 12px;
}

.fixTextareaHeight {
  line-height: 0;
}

.labelCambio {
  padding: 12px 0 4px;
}
