.textarea {
  display: block; /* Fixes chrome bug https://stackoverflow.com/questions/63430767; */
  padding: 12px;
}

.resizenone {
  resize: none;
}

.resizehorizontal {
  resize: horizontal;
}

.resizevertical {
  resize: vertical;
}

.resizeboth {
  resize: both;
}
