/* TODO: clean up this CSS.  try to get all the visual styling defined through Box usage in the tsx */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  background-color: var(--color-base-white);
  color: var(--color-base-white);
  border: 1px solid var(--transparent-gray-10, rgba(203, 203, 203, 0.50));
  border-radius: 8px;
}

.trigger {
  display: inline-block;
  vertical-align: text-top;
}

/* focus-ring styling.  TODO: share this throughout syntax */
.content:focus-visible,
.trigger:focus-visible {
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}
