.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.selectedTabOnLightBackground {
  border-bottom: 3px solid var(--color-cambio-black);
}

.selectedTabOnDarkBackground {
  border-bottom: 3px solid var(--color-cambio-white);
}

.unselectedTab {
  border-bottom: none;
}
