.itemCount {
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.unselectedItemCount {
  background-color: var(--color-cambio-gray-700);
}

.unselectedItemCountOnDarkBackground {
  /* TODO: replace with white-70 */
  background-color: var(--color-cambio-white);
}

.selectedItemCount {
  background-color: var(--color-cambio-black);
}

.selectedItemCountOnDarkBackground {
  background-color: var(--color-cambio-white);
}
