.link {
  box-sizing: border-box;
  text-decoration: none;
}

.link:focus,
.link:hover {
  text-decoration: none;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.selectedTab {
  border-bottom: 3px solid var(--color-cambio-black);
}

.selectedTabOnDarkBackground {
  border-bottom: 3px solid var(--color-cambio-white);
}

.unselectedTab {
  border-bottom: none;
}
