.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.chipClassic {
  border: 1px solid var(--color-base-gray-300);
  border-radius: 1000px;
}

.chipCambio {
  border: none;
  border-radius: 8px;
}

.disabled {
  filter: opacity(50%);
  cursor: auto;
}

.deselectedChip {
  background-color: var(--color-base-gray-200);
}

.selectedChip {
  background-color: var(--color-base-primary-800);
  border: 1px solid var(--color-base-primary-800);
}

.deselectedChipCambio {
  background-color: var(--color-cambio-gray-370);
}

.selectedChipCambio {
  background-color: var(--color-cambio-gray-800);
}

.icon {
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  height: 24px !important;
  /* stylelint-disable-next-line declaration-no-important --  Need to use !important to override MUI icon sizes  */
  width: 24px !important;
  color: var(--color-base-grey-900);
}

.selectedIcon {
  color: #fff;
}

.sm {
  height: 32px;
  min-width: 40px;
  padding: 8px 12px;
}

.lg {
  height: 48px;
  min-width: 56px;
  padding: 8px 16px;
}

.chip:focus-visible,
.forceFocus {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  box-shadow: 0 0 0 4px #000;
  outline: solid 2px #fff;
}
